.Alert {
	@extend .p-3;
	@extend .u-border-radius;
	margin-bottom: convertScaleToRem(4);

	*:last-child {margin-bottom: 0;}

	&__heading {
		@extend .t-bold;
		@extend .t-heading;
		@extend .m-bottom-0
	}

}

.Alert--success {
	background: $lighter-green;
	color: $dark-green;
	border-left: convertScaleToRem(1) solid $green;
}

.Alert--error {
	background: $lighter-red;
	color: $dark-red;
	border-left: convertScaleToRem(1) solid $red;
}

.Alert:not(.Alert--success):not(.Alert--error) {
	background: $lighter-yellow;
	color: $darker-yellow;
	border-left: convertScaleToRem(1) solid $yellow;
}

