/*

Buttons

Can be used with anchor or button tags. When updating colors, make sure to update _tags.scss as well

Usage
.dh-button                 - Default
.dh-button--primary        - Primary
.dh-button--transaction    - Transactional
.dh-button--danger         - Danger!
.dh-button--disabled       - Disabled
.dh-button__tag            - Tag Button
.dh-button__tag--positive  - Positive Tag Button
.dh-button__tag--negative  - Negative Tag Button

Shapes
.dh-button                 - Default shape
.dh-button--text           - Underlined text

Sizes
.dh-button                 - Default size
.dh-button--compact        - Compact size

Markup
<a href="#" class="button {{modifier_class}}">Text</a>

Styleguide Base.dh-buttons

*/

.dh-button {
	font-family: $body;
	color: $c-black;
	background: none;
	border: solid 1px $c-g200;
	border-radius: 3px;
	display: inline-block;
	font-size: $t-0;
	padding: 1em 3em;
	letter-spacing: .55px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: $t-bold;
	text-shadow: none;
	vertical-align: middle;
	outline: none;

	@include transition (all $tr-3 ease-in-out);

	// Allow buttons to work on elements that aren't <a>
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover,
	&:active,
	&.is-open {
		border: solid 1px $c-b300;
		background: none;
		color: $c-black;
		text-decoration: none;
	}

	&:active {
		transform: scale($s-1);
	}

	svg {
		vertical-align: middle;

		&:first-child { margin-right: .3em; }
		&:last-child { margin-left: .3em; }

		path { fill: currentColor };
	}
}

// Colors
.dh-button--primary {
	background: $c-b700;
	color: $white;
	border: solid 1px $c-b700;
	&:hover, &:active, &.is-open {	color: $c-black; background: none; border-color: $c-b700; }
}

// Tags
.dh-button__tag {
	position: relative;
	padding-left: 4em;
	margin-left: 2.5em;

	&:hover {
		&:hover { border-color: $c-y300; }
	}

	&:before {
		content: 'label';
		background-color: $c-y300;
		color: $c-y500;
    	position: absolute;
    	left: -2.5em;
		top: 15%;
		padding: 0.5em 1em;
		border-radius: 50px;
	}

	&.dh-button__tag--positive {
		&:hover, &.is-open { border-color: $c-b300; }
		&:before { background-color: $c-b300; color: $c-w100; }
	}

	&.dh-button__tag--negative {
		&:hover, &.is-open { border-color: $c-r300; }
		&:before { background-color: $c-r300; color: $c-w100; }
	}

	&.dh-button--compact {
		padding-left: 3em;

		&:before {
			padding: 0.3em 0.75em;
			left: -2.0em;
			top: 0.3em;
		}
	}

	&.dh-button--block { margin-left:0; }
}

// Transaction
.dh-button--transaction {
	background: $c-o300;
	border-color:$c-o300;
	color: $c-w100;

	&:hover, &:active, &.is-open {
		background: none;
		border-color: $c-o300;
		color: $c-black;
	}

	&.dh-button--text { color: $c-o300; background: transparent; }
	&.dh-button--text:hover { color: darken($c-o300, 10%); background: transparent; }
}

// Danger!
.dh-button--danger {
	background: $c-r300;
	border-color: $c-r300;
	color: $c-w100;

	&:hover, &:active, &.is-open {
		background: none;
		border-color: $c-r300;
		color: $c-black; }

	&.dh-button--text { color: $c-r300; background: transparent; }
	&.dh-button--text:hover { color: darken($c-r300, 10%); background: transparent; }
}

// Compact
.dh-button--compact {
	padding:0.65em 1em;
}

// Disabled
.dh-button:disabled, .dh-button--disabled {
	// Disable Button
	cursor: not-allowed;
	text-shadow: none;
	background: $c-g200;
	color: $c-g400;

	&:hover, &:active, &.is-open {
		background: $c-g200;
		color: $c-g400;
		transform: scale($s-3);
		box-shadow: none;
		border-color: $c-g200;
	}

	&:active{ pointer-events: none; }
	&.dh-button--text {color: $c-g400; background: transparent; }
}

// Text
.dh-button--text {
	background: transparent;
	border: none;
	position: relative;
	color: $c-b500;
	text-decoration: none;
	padding: 0;

	&:hover, &:active, &.is-open {
		border: none;
		background: transparent;
		box-shadow: none;
		color: darken($c-b500, 10%);
		transform: scale($s-3);
	}

	&:active {color:rgba($c-b700, 0.6);}
}

.dh-button--text:before {
	content: "";
	position: absolute;
	z-index: $z-0;
	left: 0;
	right: 100%;
	bottom: 0;
	background: currentColor;
	height: 1px;

	@include transition (right $tr-4 ease-out);
}

.dh-button--text:hover:before {
	right:0%;
}


// Widths
.dh-button--block {
	display: block;
	width: 100%;
	margin:0;

	&:active, &.is-open {
		transform: scale($s-2);
	}
}

// Spacing
.dh-button + .dh-button {
	margin-left: 1em;

	&.dh-button__tag{ margin-left:3.25em; }
	&.dh-button__tag.dh-button--compact{ margin-left:2.75em; }
	&.dh-button--block, &.dh-button__tag.dh-button--block{ margin-left:0; }
}
