/*

Buttons

Can be used with anchor or button tags. When updating colors, make sure to update _tags.scss as well

Shapes
.button            - Normal button
.button--outline   - 1px border button, transparent bg
.button--text      - Underlined text

Colors
.Button            - Blue
.Button--red       - Red
.Button--orange    - Orange
.Button--yellow    - Yellow
.Button--disabled  - Grey

Sizes
.Button            - 16px
.Button--small     - 12px
.Button--large     - 20px

Markup:
<a href="#" class="button {{modifier_class}}">Text</a>

Styleguide Base.buttons

*/

.Button {
	font-family: $body;
	color: $black;
	background: $blue;
	border: none;
	border-radius: 3px;
	display: inline-block;
	font-size: $t-3;
	line-height: 1;
	padding: .8em 1em .7em;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	vertical-align: middle;

	@include transition (all .1s ease-in-out);

	// Allow buttons to work on elements that aren't <a>
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover,
	&:active {
		background: lighten($blue, 10%);
		color: $black;
	}

	&:active {
		transform: scale(.99);
	}

	svg {
		vertical-align: middle;

		&:first-child { margin-right: .3em; }
		&:last-child { margin-left: .3em; }

		path { fill: currentColor };
	}
}

// Outline
.Button--outline {
	background: transparent;
	border: 1px solid currentColor;
	color: $dark-blue;

	&:hover,
	&:active {
		background: transparent;
		border-color: currentColor;
		color: darken($dark-blue, 10%);
	}

	&:visited { border-color: currentColor; }
}

.Button--text {
	background: transparent;
	border: none;
	color: $dark-blue;
	text-decoration: underline;
	padding: 0;

	&:hover,
	&:active {
		background: transparent;
		color: darken($dark-blue, 10%);
	}
}


// Colors
.Button--red {
	background: $red;
	color: $white;
	&:hover, &:active {	color: $white; background: darken($red, 10%); }

	&.button--outline, &.button--text {color: $red; background: transparent; }
	&.button--outline:hover, &.button--text:hover {color: darken($red, 10%); background: transparent; }
}

.Button--orange {
	background: $orange;
	color: $black;
	&:hover, &:active {
		background: lighten($orange, 10%);
		color: $black;
	}

	&.button--outline, &.button--text {color: $orange; background: transparent; }
	&.button--outline:hover, &.button--text:hover {color: darken($orange, 10%); background: transparent; }
}

.Button--yellow {
	background: $yellow;
	color: $black;
	&:hover, &:active {
		background: lighten($yellow, 10%);
		color: $black;
	}

	&.button--outline, &.button--text {color: $yellow; background: transparent; }
	&.button--outline:hover, &.button--text:hover {color: darken($yellow, 10%); background: transparent; }
}

.Button--disabled {
	// Disable Button
	cursor: default;
	text-shadow: none;
	pointer-events: none;

	background: #E0E4E8;
	color: #606362;

	&.button--outline, &.button--text {color: #576B79; background: transparent; }
}

// Sizes
.Button--small { font-size: $t-1; }
.Button--large { font-size: 1.25rem; }

// Widths
.Button--block {
	display: block;
	width: 100%;
}

// Spacing
.Button + .button {
	margin-left: 2em;
}
