/*

Form Component

*/

%form-border { border: 1px solid $light-grey; }
%form-description {
	color: $dark-grey;
	font-size: $t-3;
}
%form-no-outline { outline: none; }
%form-text-style {
	color: $black;
	font-size: $t-3;
	font-family: $body;
}

.dh-form {}

.dh-form__group {
	max-width: 100%;
	margin: 0 auto 2rem;
}

.dh-form__inline {
		margin: 0 auto 2rem;

	.dh-form__group {
		display: table-cell;
		vertical-align: top;
	}
}

.dh-form__inline-grid {
	margin: 0 -2rem;
}

.dh-form__inline-row {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-collapse: separate;
	border-spacing: 2rem 0;
}

.dh-form__group--actions {
	margin-top: convertScaleToRem(6);
}

.dh-form__group--stacked {
	.dh-input + .dh-input {
		margin-top: 1rem;
	}
}

.dh-form__group--select {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 2.7rem;
		right: 1rem;
		border-color: $grey transparent;
		border-style: solid;
		border-width: .35rem .35rem 0 .35rem;
		transition: all .2s ease-in-out;
	}

	&:hover:after {
		border-color: $dark-grey transparent;
	}
}
