/*

	Page Header

	The page header consists of a logo, a main navigation, and a secondary navigation.

	Currently set up with a sass grid but maybe it should be some sort of table or flexbox thing.

*/

.page-header {
	@extend .p-s;
	@extend .m-bottom;

	@extend .bg-black;
	@extend .t-white;
}

.page-header--overlay {
	@extend .bg-transparent;
	@extend .l-pos-absolute;
	@extend .w-100;
	z-index: 100;
}

.page-header__container {
	@include clearfix;
	@extend .fluid-row;
	@extend .w-100;

	> * {
		@extend .fluid-row__item;
	}
}

.page-header__logo {
	@extend .p-right-m;

	img {
		@extend .m-0;
		@extend .u-vertical-align-text-bottom;
	}
}

.page-header__nav {
	@extend .list;
	@extend .list--inline;
	@extend .fluid-row__item--primary;
}

.page-header__nav-link {
	@extend .t-decoration-none;
	@extend .t-bold;
	@extend .t-light-grey;
	@extend .t-s;
	@extend .l-inline-block;

	&:hover {
		@extend .t-light-blue;
	}
}

.page-header__nav-link.is-active,
.page-header__nav-link--active {
	@extend .t-white;
	@extend .border-bottom-2;
	@extend .border-blue;
	@extend .border-solid;

	&:hover {
		@extend .t-white;
	}
}

.page-header__subnav {
	@extend .list;
	@extend .list--inline;
	@extend .p-left-m;
}

.page-header__subnav-link {
	@extend .t-decoration-none;
	@extend .t-white;
	@extend .t-s;
	@extend .l-inline-block;

	.icon {
		opacity: .3;
	}

	&:hover {
		@extend .t-light-blue;

		.icon {
			opacity: 1;
		}
	}
}
