/*
	Default list component

	.list is for a general purpose list of text
	.list--disc gives the list dots, for an unordered list
	.list--inline makes the list horizontal
*/
.list {text-align: left;} // All lists should be left aligned unless specified
.list > li {margin-bottom: $s-s;}
.list > li:last-child {margin-bottom: 0;}

.list--disc {list-style-type: disc; list-style-position: outside}
.list--disc > li {margin-left: $s-m;}

.list--inline > li {
	padding: 0;
	display: inline;
	margin-right: $s-m;
}

.list--inline > li:last-child {margin-left: 0;}


/*
	List style variations

	Add to the default .list component for consistent styles
	- list--padding adds some default padding around the list items for larger click areas
	- list--small-bold is a slightly smaller and bolder list with no link underlines
*/
// .list--padding
.list.list--padding {padding-top: $s-xs; padding-bottom: $s-xs;}
.list.list--padding > li {margin-bottom: 0;}

.list.list--padding > li > * {
	display: block;
	padding: $s-xs $s-xs*2;

	transition-duration: $tr-m;
	transition-timing-function: linear
}

// .list--small-bold
.list--small-bold > li > * {
	font-weight: $t-bold;
	color: $black;
	text-decoration: none;
	font-size: $t-s;
}

// Don't give hover states to non-links
.list--small-bold > li > a:hover,
.list--small-bold > li > button:hover,
.list--small-bold > li > .is-link:hover {
	color: $blue;
}

// Disabled state
.list--small-bold > li  > .is-disabled {
	pointer-events: none;
	opacity: .3;
}

/*
	Makes icons display in a right-aligned column in the list, instead of left

	<ul class="list list--icon-right">
		<li><a><svg class="icon">...</svg>Link</a></li>
	</ul>
*/
.list--icon-right > li {position: relative;}
.list--icon-right > li > * {padding-right: 3.5em;}

.list--icon-right .icon {
	position: absolute;
	top: 50%;
	margin-top: -.725em;
	margin-right: 0;
	right: 1.5em;
}
