/*

Option Component

This can be used on radio buttons or checkboxes.

*/

.dh-option {
	@extend %form-text-style;

	cursor: pointer;
	display: block;
	padding-left: 1.4rem;
	position: relative;

	margin-bottom: convertScaleToRem(1);

	input {
		@extend %form-no-outline;
		position: absolute;
		left: 0;
		top: 2px;
	}
}

.dh-option__label {
	display: block;
}

.dh-option__description {
	@extend %form-description;
	display: block;
	margin-bottom: convertScaleToRem(2);
}
