/*

Popover Component

	Popovers are used for any contextual content that shouldn't block
	the user. Some common uses are dropdown menus, hovercards, tooltips.

	Basic guidelines:
	- The default theme is light.
	- The default width is medium.
	- Popover content can vary, there are no strict dos and don'ts.
	- The max-height class is optional. It enforces a 60vh max-height.
	- It is possible to nest hover popovers inside of click popovers.
	- popovers with max-height cannot contain nested popovers.
	- Padding size can vary.
	- The caret is optional.
	- Replace .on-click with .on-hover for hover popovers.

	Usage:
	<div class="dh-popover-container on-click">
		<div class="dh-popover dh-popover--dark dh-popover--bottom
		dh-popover--flush-left dh-popover--max-height has-caret">
			<div class="dh-popover__wrapper">
				<div class="p-3">
					This is a dark themed popover with small padding. It appears
					below the clicked element, is flushed left, has max-height
					enforced, and has a caret. Note, popovers must live within
					.dh-popover-container. To enable popovers on hover, the
					.on-hover class must be included on the
					container.
				</div>
			</div>
		</div>
		<a class="btn js-toggle-popover">Click me</a>
	</div>

*/


// Base
.dh-popover-container {
	display: inline-block;
	position: relative;
}

.dh-popover {
	position: absolute;
	text-align: center;
	border-radius: $border-radius;
	border-width: 0;
	margin-bottom: 1rem;
	bottom: 100%;
	transform: translateX(-50%) translateY(-5px);
	box-shadow: 0 0 1px 1px rgba(31,45,61,.15);
	z-index: 999;
	opacity: 0;
	width: 300px;
	visibility: hidden;
}

.dh-popover,
.dh-popover.has-caret:after {
	background: #fff;
	color: $black;
	transition-duration: $tr-4;
	transition-timing-function: ease-in-out;
}

.dh-popover.has-caret:after {
	display: block;
	position: absolute;
	border-radius: $border-radius;
	width: 12px;
	height: 12px;
	content: '';
	transform: rotate(45deg);
	box-shadow: 1px 1px 0 0 rgba(31,45,61,.15);
	bottom: -5px;
}

.dh-popover.is-open,
.on-hover:hover > .dh-popover,
.on-hover:focus > .dh-popover {
	opacity: 1;
	height: auto;
	overflow: visible;
	visibility: visible;
}

/*
	Max height:
	Enforces 60% viewport maximum height.
 */
.dh-popover--max-height .dh-popover__wrapper{
	max-height: 60vh;
	height: 100%;
	overflow: hidden;
}

.dh-popover--max-height.is-open .dh-popover__wrapper {
	overflow: scroll;
}


/*
	Themes:
	- dh-popover--dark
	- dh-popover--error
	- dh-popover--success
*/
.dh-popover {
	&.dh-popover--dark {
		&,
		& a {
			color: #fff;
		}

		&,
		&.has-caret:after {
			background: $black;
		}
	}

	&.dh-popover--error {
		&,
		& a {
			color: #fff;
		}

		&,
		&.has-caret:after {
			background: $red;
		}
	}

	&.dh-popover--success{
		&,
		& a {
			color: #fff;
		}

		&,
		&.has-caret:after {
			background: $dark-green;
		}
	}
}

/*
	Alignment:
	- dh-popover--right
	- dh-popover--bottom
	- dh-popover--left

	Positioning:
	- dh-popover--flush-top
	- dh-popover--flush-right
	- dh-popover--flush-bottom
	- dh-popover--flush-left
*/
.dh-popover--bottom {
	margin-bottom: 2rem;
	transform: translateX(-50%);
}

.dh-popover:after,
.dh-popover--bottom:after {
	margin-left: -6px;
}

.dh-popover,
.dh-popover:after,
.dh-popover--bottom,
.dh-popover--bottom:after {
	left: 50%;
}

.dh-popover.is-open,
.on-hover:hover > .dh-popover,
.on-hover:focus > .dh-popover {
	transform: translateX(-50%) translateY(0);
}

.dh-popover.dh-popover--flush-left,
.dh-popover.dh-popover--flush-right {
	transform: translateX(0);
}

.dh-popover.dh-popover--flush-left,
.dh-popover--bottom.dh-popover--flush-left {
	left: 0;
}

.dh-popover.dh-popover--flush-right,
.dh-popover--bottom.dh-popover--flush-right {
	right: 0;
	left: auto;
}

.dh-popover.dh-popover--flush-left,
.dh-popover--bottom.dh-popover--flush-left,
.dh-popover.dh-popover--flush-right,
.dh-popover--bottom.dh-popover--flush-right {
	transform-origin: left bottom;
}

.dh-popover.dh-popover--flush-left,
.dh-popover.dh-popover--flush-right,
.dh-popover--bottom.dh-popover--flush-left.is-open,
.dh-popover--bottom.dh-popover--flush-right.is-open,
.on-hover:hover > .dh-popover--bottom.dh-popover--flush-left,
.on-hover:hover > .dh-popover--bottom.dh-popover--flush-right,
.on-hover:focus > .dh-popover--bottom.dh-popover--flush-left,
.on-hover:focus > .dh-popover--bottom.dh-popover--flush-right {
	transform: translateX(0) translateY(-5px);
}

.dh-popover--bottom.dh-popover--flush-left,
.dh-popover--bottom.dh-popover--flush-right,
.dh-popover:not(.dh-popover--bottom).dh-popover--flush-left.is-open,
.dh-popover:not(.dh-popover--bottom).dh-popover--flush-right.is-open,
.on-hover:hover > .dh-popover--top.dh-popover--flush-left,
.on-hover:hover > .dh-popover--top.dh-popover--flush-right,
.on-hover:focus > .dh-popover--top.dh-popover--flush-left,
.on-hover:focus > .dh-popover--top.dh-popover--flush-right {
	transform: translateX(0) translateY(0);
}

.dh-popover--bottom.dh-popover--flush-left.has-caret:after,
.dh-popover.dh-popover--flush-left.has-caret:after {
	left: 28px;
}

.dh-popover--bottom.dh-popover--flush-right.has-caret:after,
.dh-popover.dh-popover--flush-right.has-caret:after {
	right: 28px;
	left: auto;
}

.dh-popover--bottom {
	margin-top: 1rem;
	top: calc(100% + 5px);
	transform: translateX(-50%) translateY(0);
}

.dh-popover--bottom.has-caret:after {
	box-shadow: -1px -1px 0 0 rgba(31,45,61,.15);
	top: -5px;
}

.dh-popover--bottom.is-open,
.on-hover:hover > .dh-popover--bottom,
.on-hover:focus > .dh-popover--bottom {
	transform: translateX(-50%) translateY(-5px);
}

.dh-popover--right {
	margin-left: 1rem;
	left: 100%;
}

.dh-popover--left:after,
.dh-popover--right:after {
	margin-top: -4px;
}

.dh-popover--right,
.dh-popover--right:after,
.dh-popover--left,
.dh-popover--left:after {
	top: 50%;
}

.dh-popover--right,
.dh-popover--left {
	transform: translateX(0) translateY(-50%);
}

.dh-popover--right,
.dh-popover--left,
.dh-popover--bottom {
	bottom: auto;
}

.dh-popover--right.is-open,
.on-hover:hover > .dh-popover--right,
.on-hover:focus > .dh-popover--right {
	transform: translateX(-5px) translateY(-50%);
}

.dh-popover--right.dh-popover--flush-bottom,
.dh-popover--left.dh-popover--flush-bottom.is-open,
.on-hover:focus > .dh-popover--left.dh-popover--flush-bottom,
.on-hover:hover > .dh-popover--left.dh-popover--flush-bottom {
	transform: translateX(0) translateY(calc(-100% + 1.24rem));
}

.dh-popover--right.dh-popover--flush-bottom.is-open,
.dh-popover--left.dh-popover--flush-bottom,
.on-hover:focus > .dh-popover--right.dh-popover--flush-bottom,
.on-hover:hover > .dh-popover--right.dh-popover--flush-bottom {
	transform: translateX(-5px) translateY(calc(-100% + 1.24rem));
}

.dh-popover--right.dh-popover--flush-top,
.dh-popover--left.dh-popover--flush-top.is-open,
.on-hover:focus > .dh-popover--left.dh-popover--flush-top,
.on-hover:hover > .dh-popover--left.dh-popover--flush-top {
	transform: translateX(0) translateY(calc(0% - 1.24rem));
}

.dh-popover--right.dh-popover--flush-top.is-open,
.dh-popover--left.dh-popover--flush-top,
.on-hover:focus > .dh-popover--right.dh-popover--flush-top,
.on-hover:hover > .dh-popover--right.dh-popover--flush-top {
	transform: translateX(-5px) translateY(calc(0% - 1.24rem));
}

.dh-popover--flush-top.has-caret:after {
	top: 2rem;
}

.dh-popover--flush-bottom.has-caret:after {
	bottom: 1.9rem;
	top: auto;
}

.dh-popover--right.has-caret:after {
	box-shadow: -1px 1px 0 0 rgba(31,45,61,.15);
	left: 1px;
}

.dh-popover--left {
	margin-left: 1rem;
	margin-right: 1rem;
	right: 100%;
	left: auto;
}

.dh-popover--left.is-open,
.on-hover:hover > .dh-popover--left,
.on-hover:focus > .dh-popover--left {
	transform: translateX(5px) translateY(-50%);
}

.dh-popover--left.has-caret:after {
	box-shadow: 1px -1px 0 0 rgba(31,45,61,.15);
	right: -5px;
	left: auto;
}


/*
	Sizes:
	- dh-popover--1
	- dh-popover--2
	- dh-popover--3
	- dh-popover--4
	- dh-popover--5
*/

.dh-popover--1 {
	width: 200px;
}

.dh-popover--2 {
	width: 300px;
}

.dh-popover--3 {
	width: 400px;
}

.dh-popover--4 {
	width: 500px;
}

.dh-popover--5 {
	width: 600px;
}


/*
	Dropdown Content:
	- dh-popover__section
*/

.dh-popover__section {
	// Separator classes
	&--separator {
		border-top: 1px solid darken($lighter-grey, 5%);

		.dh-popover--dark & {
			border-color: darken($darker-grey, 5%);
		}
	}

	// Round corners on first/last section
	&:first-child {
		border-radius: $border-radius $border-radius 0 0;
	}
	&:last-child {
		border-radius: 0 0 $border-radius $border-radius;
	}
}
