/*

Table

	Minimal table stylings. Sets padding, alignment and alternate
	row backgrounds.

	Adding .table--large-padding will double the padding.

*/

.table {
	width: 100%;
	margin-bottom: convertScaleToRem(4);
	text-align: left;

	thead tr {
		border-bottom: 3px solid $lighter-grey;
	}

	th {
		padding: convertScaleToRem(3) convertScaleToRem(4);
		font-size: $t-4;
		font-family: $heading;
		color: $black;
	}

	tbody tr {
		@extend .border;
		@extend .border-light-grey;
	}

	tbody tr:nth-child(odd) {background: #fff;}
	tbody tr:nth-child(even) {background: $lighter-grey;}

	td {
		padding: convertScaleToRem(3);
		vertical-align: middle;
	}
}
