/*

Pills

	Creates 'tags' for things like categories or maybe a 'SALE' tag.
	Use with _colors.scss colour classes e.g 'pill c-light-blue'

*/

.dh-tag {
	text-transform: uppercase;
	background: $c-b300;
	color: $white;
	display: inline-block;
	font-weight: bold;
	font-size: $t-1;
	border-radius: 20px;
	padding: 0.25em 0.75em;

	&.dh-tag--square {
		border-radius: 0;
	}

	&.dh-tag--red {
		background: $c-r300;
	}

	&.dh-tag--turquoise {
		background: $c-t300;
	}

	&.dh-tag--orange {
		background: $c-o300;
	}
}

.dh-tag-button {
	position: relative;
	display: inline-block;
	.dh-tag {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 85%; // position from right so tag text doesnt overlap button
		white-space: nowrap;
	}
}
