// TO-DO
// Some sort of scale

body {
	background: $lightest-grey;
	-webkit-font-smoothing: antialiased; // autoprefixer does not incl. font-smoothing
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga", "dlig";
	color: $black;
	font-family: $body;
	font-size: 16px;
	line-height: 1.5; // 24px
}

h1, h2, h3, h4 {
	font-family: $heading;
	font-weight: 600;
}

h1 {
	font-size: $t-h1;
	margin-bottom: $s-large;
}

h2 {
	font-size: $t-larger;
	margin-bottom: $s;
}

h3 {
	font-size: $t-large;
	margin-bottom: $s-small;
}

h4 {
	font-size: $t-size;
	margin-bottom: $s-small;
}

p {
	color: $black;
}

a {
	color: $blue;
	text-decoration: none;
	&:hover {
		color: darken($blue, 10);
	}
}

strong {
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
}

p, section, img {
	margin-bottom: $s;
}

hr {
	border: 1px solid $lightest-grey;
	margin: $s 0;
}

code {
	padding: 0 $s-smaller;
	font-size: $t-small;
	display: inline-block;
	border: $border-size solid $lighter-grey;
	border-radius: $border-radius;
	background: $white;
	font-family: monospace;
}
