// TO-DO
// Some sort of scale

body {
	background: $lighter-grey;
	-webkit-font-smoothing: antialiased; // autoprefixer does not incl. font-smoothing
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga", "dlig";
	color: $black;
	font-family: $body;
	font-size: 16px;
	line-height: 1.5; // 24px
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	font-family: $heading;
	font-weight: 600;
}

h1, .h1 {
	font-size: $t-6;
	margin-bottom: convertScaleToRem(5);
}

h2, .h2 {
	font-size: $t-5;
	margin-bottom: convertScaleToRem(4);
}

h3, .h3 {
	font-size: $t-4;
	margin-bottom: convertScaleToRem(3);
}

h4, .h4 {
	font-size: $t-3;
	margin-bottom: convertScaleToRem(3);
}

p {
	color: $black;
}

a {
	color: $black;
	text-decoration: underline;

	&:hover, &.is-open {
		text-decoration: none;
	}

	&.is-disabled {
		pointer-events: none;
		opacity: .3;
	}
}

strong {
	font-weight: 700;
}

img.responsive-image {
	max-width: 100%;
	height: auto;
}

p, section, img {
	margin-bottom: convertScaleToRem(4);
}

hr {
	border: 1px solid $lighter-grey;
	margin: convertScaleToRem(4) 0;
}

code {
	padding: 0 convertScaleToRem(1);
	font-size: $t-2;
	display: inline-block;
	border: 1px solid $lighter-grey;
	border-radius: $border-radius;
	background: $white;
	font-family: monospace;
}
