// Variables

// To stay consistent, we set as many properties as variables as we can.
// We have five(???) options for margins and paddings and a something-point typographic scale.
// All colours should be defined in this file except #fff and #000.

// Look in utilities.scss for ways to use these same properties in html instead.

// Always use these variables when building components.

// Colours
$blue: #4cc8fe;
$light-blue: #7ed2f7;
$dark-blue: #2aade8;
$darker-blue: #1b6e94; // This color is mainly used for hyperlink text.

$peach: #ff6d71;
$light-peach: #ff8a8e;
$dark-peach: #ce423b;

$red: #d7180f;
$light-red: #ef2b1f;
$dark-red: #b80d03;

$yellow: #fee235;
$light-yellow: #ffeb78;
$dark-yellow: #ffda00;

$green: #50dbbb;
$light-green: #57f1cf;
$dark-green: #44c4a7;

$lighter-grey: #f5f6f9;
$light-grey: #dfe4e8;
$grey: #afbfc9;
$dark-grey: #5d6d78;
$darker-grey: #424f58;

$black: #2b3032;
$white: #FFFFFF;

// Spacing
// Uses an 8pt vertical grid for margins and padding
// With 16px body copy, .5 increments ensure the grid is adhered to
$s-xs: .5rem; // 8px
$s-s: 1.5rem; // 24px
$s-m: 2rem; // 32px
$s-l: 2.5rem; // 40px
$s-xl: 3rem; // 48px

// Typography
$body: 'Proxima Nova', sans-serif;
$heading: 'Ubuntu', sans-serif;

$t-xxl: 2.5rem;
$t-xl: 2rem;
$t-l: 1.5rem;
$t-m: 1rem;
$t-s: .875rem; // legibility at small sizes > adhering to scales
$t-xs: .75em;

// Borders
$border-size: 1px;
$border-radius: 3px;
$border-radius-l: 5px;

// Animation Duration
$a-xl: 2s;
$a-l: 1.5s;
$a-m: 1s;
$a-s: .5s;
$a-xs: .3s;

// Transition Duration
$tr-xl: .3s;
$tr-l: .2s;
$tr-m: .1s;
$tr-s: .07s;
$tr-xs: .05s;
