.Accordion {
	overflow: hidden;
	background: $c-w100;
	border: solid 1px $c-g200;
	border-radius: 3px;
	margin-bottom: convertScaleToRem(2);

	.Accordion__toggle {
		@include fontsize($t-2);
		font-family: $body;
		color: $c-b300;
		display: block;
		padding: convertScaleToRem(2);

		&:hover {
			cursor: pointer;
		}

		.Accordion__toggle-icon {
			@include transition (all $tr-3 ease-in-out);
			margin-right: convertScaleToRem(2);
			transform: rotate(90deg);
			width: convertScaleToRem(2);
			height: convertScaleToRem(2);
			fill: currentColor;
		}
	}

	.Accordion__content {
		@include transition (all $tr-3 ease-in-out);
		opacity: 0;
		height: 0;
		@include fontsize($t-1);
		color: $c-g500;
		padding: convertScaleToRem(0) convertScaleToRem(6);

		p:last-of-type {
		margin-bottom: convertScaleToRem(0.75);
		}

		&> * {
			pointer-events: none;
		}
	}
}

//Accordion Open
.Accordion.Accordion--open {

	.Accordion__toggle {
		padding-bottom: convertScaleToRem(1);

		.Accordion__toggle-icon {
			transform: rotate(-90deg);
		}
	}

	.Accordion__content {
		opacity: 1;
		height: 100%;
		padding: convertScaleToRem(0) convertScaleToRem(6) convertScaleToRem(2) convertScaleToRem(6);

		&> * {
			pointer-events: all;
		}
	}
}
