/*
Currently in use at:
- NDN:
		Numerous pages
- DH.com
		metadata-translations.html
		_includes/section/domain-search-v2.html
		_layouts/legal-page-child.html
- Signup
		Numerous pages
*/

.Alert {
	padding: 1.5rem;
	border-radius: $border-radius;
	margin-bottom: 2rem;
	color:$c-g500;
	@include fontsize($t-1);

	*:last-child {margin-bottom: 0;}

	&__heading {
		font-weight: $t-bold;
		font-family: $heading;
		margin: 0;
	}
}

.Alert--success {
	background: $c-t100;
	border-left: 0.5rem solid $c-t300;
}

.Alert--error {
	background: $c-r100;
	border-left: 0.5rem solid $c-r300;
}

.Alert:not(.Alert--success):not(.Alert--error) {
	background: $c-y100;
	border-left: 0.5rem solid $c-y300;
}

.Alert--compact{
	padding: 1rem;
}
