// use remodal.js
// https://github.com/vodkabears/Remodal

.Modal {
	padding: convertScaleToRem(3);
	@extend .u-border-radius-l;
	@extend .remodal;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

	.Modal-close {
		position: absolute;
		top: convertScaleToRem(1);
		right: convertScaleToRem(1);
		height: convertScaleToRem(2);
		width: convertScaleToRem(2);
		background-size: 50%;
		background-position: 50%;
		background-repeat: no-repeat;
		background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2031.3%2031.3%22%3E%3Cpath%20d%3D%22M8.4%2015.7l-7-7.1c-2-2-1.9-5.2.3-7.2%202.1-1.9%205.5-1.8%207.5.2l6.5%206.6%206.5-6.6c2-2%205.4-2.2%207.5-.2%202.1%201.9%202.3%205.1.3%207.2l-7%207.1%207%207.1c2%202%201.9%205.2-.3%207.2-2.1%201.9-5.5%201.8-7.5-.3l-6.5-6.6-6.5%206.6c-2%202-5.4%202.2-7.5.3-2.1-1.9-2.3-5.1-.3-7.2l7-7.1z%22%20fill%3D%22%23AFBFC9%22%20%2F%3E%3C%2Fsvg%3E');

		&:hover {
			cursor: pointer;
		}

	}
}

.Modal__button-group {
	@extend .m-top-4;
}

@media screen and (min-width: $medium-breakpoint) {
	.Modal { padding: convertScaleToRem(9) }
	.Modal__heading {
		@include fontsize($t-5);
	}
}

.remodal-overlay {
	background: rgba($light-grey, .9) !important;
}
