/*

Popover Component

  Popovers are used for any contextual content that shouldn't block
  the user. Some common uses are dropdown menus, hovercards, tooltips.

  Basic guidelines:
  - The default theme is light.
  - Padding size can vary.
  - Popover content can vary, there are no strict dos and don'ts.
  - The caret is optional.
  - Replace .js-popover-container--click with .popover-container--hover
    for hover popovers.

  Usage:
  <div class="popover-container js-popover-container--click">
    <div class="popover popover--dark popover--bottom
    popover--left-aligned has-caret">
      <div class="p-small">
        This is a dark themed popover with small padding. It appears
        below the clicked element, is left aligned, and has a caret.
        Note, popovers must live within .popover-container. To enable
        popovers on hover, the .popover-container--hover class must be
        included on the container.
      </div>
    </div>
    <button class="btn js-btn-popover">Click me</button>
  </div>

*/


// Base
.popover-container {
  @extend .l-inline-block;
  @extend .l-pos-relative;
}

.popover {
  @extend .l-pos-absolute;
  @extend .t-center;
  @extend .u-rounded-corners;
  @extend .border-none;
  @extend .m-bottom-small;
  bottom: 100%;
  transform: translateX(-50%) translateY(-5px);
  box-shadow: 0 0 1px 1px rgba(31,45,61,.15);
  width: 300px;
  z-index: 999;
  opacity: 0;
  transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
  transition-duration: .3s;
  visibility: hidden;

  &:after {
    box-shadow: 1px 1px 0 0 rgba(31,45,61,.15);
  }
}

.popover,
.popover.has-caret:after {
  @extend .bg-white;
}

.popover.has-caret:after {
  @extend .l-block;
  @extend .l-pos-absolute;
  @extend .u-rounded-corners;
  width: 12px;
  height: 12px;
  content: '';
  transform: rotate(45deg);
  box-shadow: 1px 1px 0 0 rgba(31,45,61,.15);
  bottom: -6px;
}

.popover.is-open,
.popover-container--hover:hover > .popover,
.popover-container--hover:focus > .popover {
  opacity: 1;
  visibility: visible;
}


/*
  Themes:
  - popover--dark
  - popover--error
  - popover--success
*/
.popover--dark,
.popover--dark.has-caret:after {
  @extend .bg-black;
  @extend .t-white;
}

.popover--error,
.popover--error.has-caret:after {
  @extend .bg-dark-red;
  @extend .t-white;
}

.popover--success,
.popover--success.has-caret:after {
  @extend .bg-dark-green;
  @extend .t-white;
}


/*
  Positioning:
  - popover--bottom
  - popover--left
  - popover--right

  Alignment:
  - popover--left-aligned
  - popover--right-aligned
*/
.popover--bottom {
  @extend .m-bottom-small;
  transform: translateX(-50%);
}

.popover:after,
.popover--bottom:after {
  margin-left: -6px;
}

.popover,
.popover:after,
.popover--bottom,
.popover--bottom:after {
  left: 50%;
}

.popover.is-open,
.popover-container--hover:hover > .popover,
.popover-container--hover:focus > .popover {
  transform: translateX(-50%) translateY(0);
}

.popover.popover--left-aligned,
.popover.popover--right-aligned {
  transform: translateX(0);
}

.popover.popover--left-aligned,
.popover--bottom.popover--left-aligned {
  @extend .l-pos-left;
  transform-origin: left bottom;
}

.popover.popover--right-aligned,
.popover--bottom.popover--right-aligned {
  @extend .l-pos-right;
  left: auto;
  transform-origin: right bottom;
}

.popover.popover--left-aligned,
.popover.popover--right-aligned,
.popover--bottom.popover--left-aligned.is-open,
.popover--bottom.popover--right-aligned.is-open,
.popover-container--hover:hover > .popover--bottom.popover--left-aligned,
.popover-container--hover:hover > .popover--bottom.popover--right-aligned,
.popover-container--hover:focus > .popover--bottom.popover--left-aligned,
.popover-container--hover:focus > .popover--bottom.popover--right-aligned {
  transform: translateX(0) translateY(-5px);
}

.popover--bottom.popover--left-aligned,
.popover--bottom.popover--right-aligned,
.popover:not(.popover--bottom).popover--left-aligned.is-open,
.popover:not(.popover--bottom).popover--right-aligned.is-open,
.popover-container--hover:hover > .popover:not(.popover--bottom).popover--left-aligned,
.popover-container--hover:hover > .popover:not(.popover--bottom).popover--right-aligned,
.popover-container--hover:focus > .popover:not(.popover--bottom).popover--left-aligned,
.popover-container--hover:focus > .popover:not(.popover--bottom).popover--right-aligned {
  transform: translateX(0) translateY(0);
}

.popover--bottom.popover--left-aligned.has-caret:after,
.popover.popover--left-aligned.has-caret:after {
  left: 28px;
}

.popover--bottom.popover--right-aligned.has-caret:after,
.popover.popover--right-aligned.has-caret:after {
  right: 28px;
  left: auto;
}


.popover--bottom {
  @extend .m-top-small;
  top: calc(100% + 5px);
  transform: translateX(-50%) translateY(0);
}

.popover--bottom.has-caret:after {
  box-shadow: -1px -1px 0 0 rgba(31,45,61,.15);
  top: -6px;
}

.popover--bottom.is-open,
.popover-container--hover:hover > .popover--bottom,
.popover-container--hover:focus > .popover--bottom {
  transform: translateX(-50%) translateY(-5px);
}


.popover--right {
  @extend .m-left-small;
  left: 100%;
}

.popover--left:after,
.popover--right:after {
  margin-top: -6px;
}

.popover--right,
.popover--right:after,
.popover--left,
.popover--left:after {
  top: 50%;
}

.popover--right,
.popover--left {
  transform: translateX(0) translateY(-50%);
}

.popover--right,
.popover--left,
.popover--bottom {
  bottom: auto;
}

.popover--right.is-open,
.popover-container--hover:hover > .popover--right,
.popover-container--hover:focus > .popover--right {
  transform: translateX(-5px) translateY(-50%);
}

.popover--right.has-caret:after {
  box-shadow: -1px 1px 0 0 rgba(31,45,61,.15);
  left: 0;
}


.popover--left {
  @extend .m-right-small;
  @extend .m-left-small;
  right: 100%;
  left: auto;
}

.popover--left.is-open,
.popover-container--hover:hover > .popover--left,
.popover-container--hover:focus > .popover--left {
  transform: translateX(5px) translateY(-50%);
}

.popover--left.has-caret:after {
  box-shadow: 1px -1px 0 0 rgba(31,45,61,.15);
  right: -6px;
  left: auto;
}
