//Quick Copy
.js-copy {
	display: inline-block;
	position: relative;

	.js-copy-text {
		border-radius: 3px;
		background: $c-g500;
		display: inline-block;

		code {
			background: transparent;
			border: none;
		}

		.js-copy-btn {
			display: inline-block;
			color: $c-w100;
			@include fontsize($t-0);

			&:hover {
				cursor: pointer;
			}
		}
	}

	.js-copy-message {
		font-family: monospace;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px $c-t300;
		background: $c-g100;
		color: $c-b700;
		width: 100%;
		padding: 0.45rem;
		@include transition (all $tr-4 ease-in-out);
		pointer-events: none;
		opacity: 0;
		border-radius: 3px;
		@include fontsize($t-1, $t-0);

		svg {
			background: $c-t300;
			color: $c-t100;
			padding: 0.5rem;
			height: 29px;
			width: 29px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

//Show success state
.js-copy-success {
	.js-copy-message {
		opacity: 1;
	}
}