/*

Table

	Minimal table stylings. Sets padding, alignment and alternate
	row backgrounds.

	Adding .table--large-padding will double the padding.

*/

.table {
	width: 100%;
	margin-bottom: $s;
	text-align: left;
}

thead tr {
	border-bottom: 3px solid $lightest-grey;
}

th {
	padding: $s $s-small;
	font-size: $h3;
	font-family: $heading;
	color: #000;
}

tbody tr {
	border-bottom: 1px solid $lightest-grey;
}

tbody tr:nth-child(odd) {
	background: #fff;
}

td {
	padding: $s-small;
	vertical-align: middle;
}

.table--large-padding td {
	padding: $s-large $s;
}
