	// Link

	// Makes something act like a link. Use 'invert' as a paramater to invert the colours.

@mixin link($invert: 'false'){
	@if $invert == 'false'{
		color: $darker-blue;
		&:hover {
			cursor: pointer;
			color: $black;
		}
	} @else {
		color: $black;
		&:hover {
			cursor: pointer;
			color: $darker-blue;
		}
	}

}
