  // Animation Mixins

  // A collection of Mixins that you can use in your scss to create and
  // control animations.

  // Usage:
  // .thing {
  //   @include a-duration($a-fast);
  //   @include a-easing($a-easing-linear);
  //   @include animation(spin, $a-slow, $a-spin-duration, $a-easing-linear);
  //   @include transition(all, $a-duration, $a-easing);
  //   @include scale($a-scale);
  //   @include rotate(40);
  //   @include translate(3, 5);
  //   @include skew(3, 5);
  //   @include transform-origin(top left);
  // }

// Timing - controls how fast your animation runs
@mixin a-duration($timing) {
  -moz-transition-duration: $timing;
  -ms-transition-duration: $timing;
  -webkit-transition-duration: $timing;
  transition-duration: $timing;
  -moz-animation-duration: $timing;
  -ms-animation-duration: $timing;
  -webkit-animation-duration: $timing;
  animation-duration: $timing;
}

// Easing - controls the way that your animation tweens
@mixin a-easing($type) {
  -moz-transition-timing-function: $type;
  -ms-transition-timing-function: $type;
  -webkit-transition-timing-function: $type;
  transition-timing-function: $type;
  -moz-animation-timing-function: $type;
  -ms-animation-timing-function: $type;
  -webkit-animation-timing-function: $type;
  animation-timing-function: $type;
}

// Animation - build a custom animation with this mixin
@mixin animation($name, $duration, $length, $easing) {
  -moz-animation: $name $duration $length $easing;
  -ms-animation: $name $duration $length $easing;
  -webkit-animation: $name $duration $length $easing;
  animation: $name $duration $length $easing;
}

// Transition - use for transitional effects
@mixin transition($property, $time, $method) {
  -moz-transition: $property $time $method;
  -ms-transition: $property $time $method;
  -webkit-transition: $property $time $method;
  transition: $property $time $method;
}

// Transforms - shouldn't need to use this too often. This is mostly a
// reference for the Mixins below.
@mixin transform($transforms) {
  -moz-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
  transform: $transforms;
}

// Rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// Translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

// Skew
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform origin
@mixin transform-origin ($origin) {
  -moz-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
  transform-origin: $origin;
}
