/*

Transform Mixins

  A collection of Mixins that you can use in your scss to create and
  control transforms.

  Usage:
  .thing {
    @include scale($a-scale);
    @include rotate(40);
    @include translate(3, 5);
    @include skew(3, 5);
    @include transform-origin(top left);
  }

*/


// Rotate
@mixin rotate($deg) {
  transform: rotate(#{$deg}deg);
}

// Scale
@mixin scale($scale) {
  transform: scale($scale);
}

// Translate
@mixin translate($x, $y) {
  transform: translate($x, $y);
}

// Skew
@mixin skew($x, $y) {
  transform: skew(#{$x}deg, #{$y}deg);
}
