/*

Transition Mixins

  A collection of Mixins that you can use in your scss to create and
  control transitions.

  Usage:
  .thing {
    @include tr-duration($tr-fast);
    @include tr-easing($tr-easing-linear);
    @include transition(all, $tr-duration, $tr-easing);
  }

*/

// Duration - controls how fast your transition runs
@mixin tr-duration($timing) {
  -moz-transition-duration: $timing;
  -ms-transition-duration: $timing;
  -webkit-transition-duration: $timing;
  transition-duration: $timing;
}

// Easing - controls the way that your transition tweens
@mixin tr-easing($type) {
  -moz-transition-timing-function: $type;
  -ms-transition-timing-function: $type;
  -webkit-transition-timing-function: $type;
  transition-timing-function: $type;
}

// Transition - basic transition mixin
@mixin transition($property, $time, $method) {
  -moz-transition: $property $time $method;
  -ms-transition: $property $time $method;
  -webkit-transition: $property $time $method;
  transition: $property $time $method;
}
