/*

	Table

	Create a table from anything! Use divs with these classes to make
	them use the table model for layout and centering wihout lying in
	your HTML. This is pretty hacky and should not be used often, but
	can be valuable while the future of CSS layout and flexbox is still
	being figured out and supported.

*/

.table {
	border-collapse: separate !important;
	border-spacing: 0 !important;
	display: table !important;
}

.td,
.th {display: table-cell !important}
.tr {display: table-row !important}
