/*

	Table

	Create a table from anything.

*/

.table {
	border-collapse: separate !important;
	border-spacing: 0 !important;
	display: table !important;
}

.td,
.th {display: table-cell !important}
.tr {display: table-row !important}
