// Fonts
.t-body {font-family: $body};
.t-heading {font-family: $heading}

// Sizes (TODO: words or headings?)
.t-size-small {font-size: $t-size-small}
.t-size {font-size: $t-size;}
.t-size-large {font-size: $h3;}
.t-size-larger {font-size: $h2;}
.u-h1 {font-size: $h1;}
.u-h3 {font-size: $h3;}

// Colors
.t-white {color: #fff}
.t-black {color: $black}
.t-blue {color: $blue}
.t-light-grey {color: $light-grey}
.t-lighter-grey {color: $lighter-grey}
.t-lightest-grey {color: $lightest-grey}
.t-yellow {color: $yellow}

// Whitespace
.t-whitespace-normal { white-space: normal}
.t-whitespace-nowrap { white-space: nowrap}

// Alignment
.t-left {text-align: left;}
.t-right {text-align: right;}
.t-center {text-align: center;}
.t-justify {text-align: justify}

// Weights
.t-heavy {font-weight: 900;}
.t-bold {font-weight: 700;}
.t-light {font-weight: 300;}
.t-lighter {font-weight: 100;}

// Styles
.t-underline {text-decoration: underline;}

// Line Height
.t-line-height-1 {line-height: 1;}

.border {border: 1px solid $lightest-grey;}
