@import 'src/scss/style';

code.hljs {
	font-family: monospace;
    background-color: $lightest-grey;
    padding: $s-m;
    font-size: $t-s;
    border-radius: $border-radius;
    margin-bottom: $s-m;
    width: 100%;
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
	color: $red;
}
