/*

	dreamhost.css

*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* ========================================================================== Remodal's necessary styles ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked { overflow: hidden; touch-action: none; }

/* Anti FOUC */
.remodal, [data-remodal-id] { display: none; }

/* Necessary styles of the overlay */
.remodal-overlay { position: fixed; z-index: 9999; top: -5000px; right: -5000px; bottom: -5000px; left: -5000px; display: none; }

/* Necessary styles of the wrapper */
.remodal-wrapper { position: fixed; z-index: 10000; top: 0; right: 0; bottom: 0; left: 0; display: none; overflow: auto; text-align: center; -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after { display: inline-block; height: 100%; margin-left: -0.05em; content: ""; }

/* Fix iPad, iPhone glitches */
.remodal-overlay, .remodal-wrapper { backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal { position: relative; outline: none; text-size-adjust: 100%; }

.remodal-is-initialized { /* Disable Anti-FOUC */ display: inline-block; }

/* ========================================================================== Remodal's default mobile first theme ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening, .remodal-bg.remodal-is-opened { filter: blur(3px); }

/* Default theme styles of the overlay */
.remodal-overlay { background: rgba(43, 46, 56, 0.9); }

.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing { animation-duration: 0.3s; animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening { animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing { animation-name: remodal-overlay-closing-keyframes; }

/* Default theme styles of the wrapper */
.remodal-wrapper { padding: 10px 10px 0; }

/* Default theme styles of the modal dialog */
.remodal { box-sizing: border-box; width: 100%; margin-bottom: 10px; padding: 35px; transform: translate3d(0, 0, 0); color: #2b2e38; background: #fff; }

.remodal.remodal-is-opening, .remodal.remodal-is-closing { animation-duration: 0.3s; animation-fill-mode: forwards; }

.remodal.remodal-is-opening { animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing { animation-name: remodal-closing-keyframes; }

/* Vertical align of the modal dialog */
.remodal, .remodal-wrapper:after { vertical-align: middle; }

/* Keyframes ========================================================================== */
@keyframes remodal-opening-keyframes { from { transform: scale(1.05);
    opacity: 0; }
  to { transform: none;
    opacity: 1; } }

@keyframes remodal-closing-keyframes { from { transform: scale(1);
    opacity: 1; }
  to { transform: scale(0.95);
    opacity: 0; } }

@keyframes remodal-overlay-opening-keyframes { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes remodal-overlay-closing-keyframes { from { opacity: 1; }
  to { opacity: 0; } }

/* Media queries ========================================================================== */
@media only screen and (min-width: 641px) { .remodal { max-width: 700px; } }

/* IE8 ========================================================================== */
.lt-ie9 .remodal-overlay { background: #2b2e38; }

.lt-ie9 .remodal { width: 700px; }

html { box-sizing: border-box; }

*, *::after, *::before { box-sizing: inherit; }

.box { padding: 30px; background: #fff; }

.box *:last-child:not(input):not(textarea) { margin-bottom: 0; }

body { background: #f7f7f7; -webkit-font-smoothing: antialiased; font-feature-settings: "liga", "dlig"; color: #2F323B; font-family: "Proxima Nova", sans-serif; }

h1, h2, h3, h4 { font-family: "Ubuntu", sans-serif; font-weight: 100; line-height: 1.6; }

h1 { font-size: 40px; margin-bottom: 60px; }

h2 { font-size: 26px; margin-bottom: 30px; }

h3 { font-size: 21px; margin-bottom: 15px; }

h4 { font-size: 18px; margin-bottom: 15px; }

p { color: #2F323B; line-height: 1.4; margin-bottom: 30px; }

a { color: #3675b4; text-decoration: none; }

a:hover { color: #2a5c8d; }

strong { font-weight: 700; }

img { max-width: 100%; height: auto; }

hr { border: 1px solid #f7f7f7; margin: 30px 0; }

.btn { background: #ffba00; color: #2F323B; text-decoration: none; border-radius: 2px; text-transform: uppercase; padding: 15px; display: inline-block; border: 0; font-size: 16px; }

.btn:hover { cursor: pointer; }

.btn--warning { background: #e74141; color: #fff; text-decoration: none; border-radius: 2px; text-transform: uppercase; padding: 15px; display: inline-block; border: 0; font-size: 16px; }

.btn--warning:hover { cursor: pointer; }

/*

	Header

	The header consists of a logo, a main navigation, and a secondary navigation.

	Currently set up with a sass grid but maybe it should be some sort of table or flexbox thing.

*/
.header::after { clear: both; content: ""; display: table; }

.header__logo { float: left; display: block; margin-right: 2.35765%; width: 14.70196%; }

.header__logo:last-child { margin-right: 0; }

.header__nav { float: left; display: block; margin-right: 2.35765%; width: 40.29137%; margin-left: 8.5298%; }

.header__nav:last-child { margin-right: 0; }

.header__links { float: left; display: block; margin-right: 2.35765%; width: 14.70196%; margin-left: 17.05961%; }

.header__links:last-child { margin-right: 0; }

.list--bullets li { list-style-type: disc; }

/* Option Box

	A style for larger box-style options in a form setting. Includes
	a background heading and content underneath it. Use alongside
	grid framework for positjoning.

*/
.option-box__content { padding: 30px; background: #fff; }

.option-box__content *:last-child:not(input):not(textarea) { margin-bottom: 0; }

.tabs__nav-item { color: #2F323B; }

.tabs__nav-item:hover { cursor: pointer; color: #3675b4; }

.tab { padding: 30px; background: #fff; }

.tab *:last-child:not(input):not(textarea) { margin-bottom: 0; }

.tabs__nav-item.is-active:hover { cursor: default; color: currentcolor; }

/*

Table

	Minimal table stylings. Sets padding, alignment and alternate
	row backgrounds.

	Adding .table--large-padding will double the padding.

*/
thead tr { border-bottom: 3px solid #f7f7f7; }

.toggle .toggle-control { transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035); width: 4em; height: 2em; display: block; border: 2px solid #8E8E93; border-radius: 2em; background-color: rgba(0, 0, 0, 0.06); position: relative; }

.toggle .toggle-control:after { transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035); content: ""; width: 2em; height: 2em; display: block; background-color: #fff; border-radius: 50%; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 3px 2px rgba(0, 0, 0, 0.4); position: absolute; top: 0; left: 0; }

.toggle input { display: none; }

.toggle input:checked + .toggle-control { border-color: #4cd964; background-color: #4cd964; }

.toggle input:checked + .toggle-control:after { left: 2em; }

/*

Utilities

	Use these classes in your HTML to make non-repeatable styles. This saves
	you from having to make up unnecessary classes and reduces chances for
	inconsistency.

	When adding utility classes, make sure they are referencing variables from
	variables.scss.

	Do not @extend these classes in your sass. Use the variables directly instead. (Maybe? Or would we rather extend?)

	Utilities are !important (see http://csswizardry.com/2016/05/the-importance-of-important/)

*/
.u-clearfix::after { clear: both; content: ""; display: table; }

.bg-white, tbody tr:nth-child(odd), .option-box__content { background: #fff !important; }

.bg-black, .header { background: #2F323B !important; }

.bg-blue, .option-box__heading { background: #3675b4 !important; }

.bg-light-blue { background: #528fcb; }

.bg-dark-blue { background: #2a5c8d; }

.bg-red { background: #e74141 !important; }

.bg-yellow { background: #ffba00 !important; }

.bg-light-grey { background: #858585 !important; }

.bg-lighter-grey { background: #d1d1d1 !important; }

.bg-lightest-grey { background: #f7f7f7 !important; }

.container { max-width: 980px; margin-left: auto; margin-right: auto; }

.container::after { clear: both; content: ""; display: table; }

.g-1_6 { float: left; display: block; margin-right: 2.35765%; width: 14.70196%; }

.g-1_6:last-child { margin-right: 0; }

.g-1_4 { float: left; display: block; margin-right: 2.35765%; width: 23.23176%; }

.g-1_4:last-child { margin-right: 0; }

.g-1_3 { float: left; display: block; margin-right: 2.35765%; width: 31.76157%; }

.g-1_3:last-child { margin-right: 0; }

.g-1_2 { float: left; display: block; margin-right: 2.35765%; width: 48.82117%; }

.g-1_2:last-child { margin-right: 0; }

.g-2_3 { float: left; display: block; margin-right: 2.35765%; width: 65.88078%; }

.g-2_3:last-child { margin-right: 0; }

.g-3_4 { float: left; display: block; margin-right: 2.35765%; width: 74.41059%; }

.g-3_4:last-child { margin-right: 0; }

.g-omega { margin-right: 0; }

.g-shift-1 { margin-left: 8.5298%; }

.g-shift-2 { margin-left: 17.05961%; }

.g-shift-3 { margin-left: 25.58941%; }

.g-shift-4 { margin-left: 34.11922%; }

.g-shift-5 { margin-left: 42.64902%; }

.g-shift-6 { margin-left: 51.17883%; }

.g-shift-7 { margin-left: 59.70863%; }

.g-shift-8 { margin-left: 68.23843%; }

.g-shift-9 { margin-left: 76.76824%; }

.g-shift-10 { margin-left: 85.29804%; }

.g-shift-11 { margin-left: 93.82785%; }

.l-right { float: right !important; }

.l-left { float: left !important; }

.l-centered { margin: 0 auto !important; }

.l-inline, .form__input[type="radio"], .list--inline li { display: inline !important; }

.l-inline-block, .header__nav-item, .tabs__nav-item { display: inline-block !important; }

.l-block, .form__label, .form__input { display: block !important; }

.u-overflow-visible { overflow: visible !important; }

.u-overflow-hidden { overflow: hidden !important; }

.u-overflow-scroll { overflow: scroll !important; }

/*

	Margins

	Margins can be controlled using the shorthand m. Every direction
	has none, smaller, small, large, larger and a default value that
	can be referenced using just m-direction.

*/
.m-none { margin: 0 !important; }

.m-smaller { margin: 7.5px !important; }

.m-small { margin: 15px !important; }

.m { margin: 30px !important; }

.m-large { margin: 60px !important; }

.m-larger { margin: 120px !important; }

.m-top-none { margin-top: 0 !important; }

.m-top-smaller { margin-top: 7.5px !important; }

.m-top-small { margin-top: 7.5px !important; }

.m-top { margin-top: 30px !important; }

.m-top-large { margin-top: 60px !important; }

.m-top-larger { margin-top: 120px !important; }

.m-bottom-none, .list, .option-box__heading { margin-bottom: 0 !important; }

.m-bottom-smaller { margin-bottom: 7.5px !important; }

.m-bottom-small, .form__label, .form__input, .list li:not(:last-child) { margin-bottom: 7.5px !important; }

.m-bottom, .table { margin-bottom: 30px !important; }

.m-bottom-large, .header, .tabs { margin-bottom: 60px !important; }

.m-bottom-larger { margin-bottom: 120px !important; }

.m-right-none, .list--inline li:last-child { margin-right: 0 !important; }

.m-right-smaller { margin-right: 7.5px !important; }

.m-right-small, .form__input[type="radio"] { margin-right: 7.5px !important; }

.m-right, .list--inline li { margin-right: 30px !important; }

.m-right-large { margin-right: 60px !important; }

.m-right-larger { margin-right: 120px !important; }

.m-left-none { margin-left: 0 !important; }

.m-left-smaller { margin-left: 7.5px !important; }

.m-left-small { margin-left: 7.5px !important; }

.m-left, .list--bullets li { margin-left: 30px !important; }

.m-left-large { margin-left: 60px !important; }

.m-left-larger { margin-left: 120px !important; }

/*

	Padding

	Padding can be controlled using the shorthand p. Every direction
	has none, smaller, small, large, larger and a default value that
	can be referenced using just p-direction.

*/
.p-none, .list--inline li { padding: 0 !important; }

.p-smaller { padding: 7.5px !important; }

.p-small, td, .form__input, .option-box__heading { padding: 15px !important; }

.p, .header__logo, .tabs__nav-item { padding: 30px !important; }

.p-large { padding: 60px !important; }

.p-larger { padding: 120px !important; }

.p-top-none { padding-top: 0 !important; }

.p-top-smaller { padding-top: 7.5px !important; }

.p-top-small, th { padding-top: 7.5px !important; }

.p-top, .header__links, .header__nav-item { padding-top: 30px !important; }

.p-top-large, .table--large-padding td { padding-top: 60px !important; }

.p-top-larger { padding-top: 120px !important; }

.p-bottom-none { padding-bottom: 0 !important; }

.p-bottom-smaller { padding-bottom: 7.5px !important; }

.p-bottom-small, th { padding-bottom: 7.5px !important; }

.p-bottom, .header__links, .header__nav-item { padding-bottom: 30px !important; }

.p-bottom-large, .table--large-padding td { padding-bottom: 60px !important; }

.p-bottom-larger { padding-bottom: 120px !important; }

.p-right-none { padding-right: 0 !important; }

.p-right-smaller { padding-right: 7.5px !important; }

.p-right-small { padding-right: 7.5px !important; }

.p-right, th, .table--large-padding td { padding-right: 30px !important; }

.p-right-large { padding-right: 60px !important; }

.p-right-larger { padding-right: 120px !important; }

.p-left-none, .tabs__nav-item:first-child { padding-left: 0 !important; }

.p-left-smaller { padding-left: 7.5px !important; }

.p-left-small { padding-left: 7.5px !important; }

.p-left, th, .table--large-padding td { padding-left: 30px !important; }

.p-left-large { padding-left: 60px !important; }

.p-left-larger { padding-left: 120px !important; }

.t-body, .form__input { font-family: "Proxima Nova", sans-serif !important; }

.t-heading, th, .tabs__nav-item { font-family: "Ubuntu", sans-serif !important; }

.t-small, .form__input { font-size: 14px !important; }

.t-book, .form__label--radio { font-weight: normal; }

.t-size { font-size: 16px !important; }

.t-large, th, .tabs__nav-item { font-size: 21px !important; }

.t-larger { font-size: 26px !important; }

.t-white, .header__links a, .header__nav-item, .option-box__heading { color: #fff !important; }

.t-black, th, .option-box { color: #2F323B !important; }

.t-blue { color: #3675b4 !important; }

.t-light-grey { color: #858585 !important; }

.t-lighter-grey { color: #d1d1d1 !important; }

.t-lightest-grey { color: #f7f7f7 !important; }

.t-yellow { color: #ffba00 !important; }

.t-whitespace-normal { white-space: normal !important; }

.t-whitespace-nowrap { white-space: nowrap !important; }

.t-left, .table { text-align: left !important; }

.t-right { text-align: right !important; }

.t-center, .option-box { text-align: center !important; }

.t-justify { text-align: justify !important; }

.t-heavy { font-weight: 900 !important; }

.t-bold, .form__label, .tabs__nav-item.is-active { font-weight: 700 !important; }

.t-light { font-weight: 300 !important; }

.t-lighter { font-weight: 100 !important; }

.t-underline { text-decoration: underline !important; }

.t-decoration-none, .header__links a, .header__nav-item, .option-box { text-decoration: none; }

.t-italic { font-weight: italic; }

.t-line-height-1 { line-height: 1 !important; }

.border, .form__input, tbody tr { border: 1px solid #f7f7f7 !important; }

.border-bottom, tbody tr { border-bottom: 1px solid #f7f7f7 !important; }

.border-radius, .form__input { border-radius: 2px; }

.u-vertical-align-top { vertical-align: top !important; }

.u-vertical-align-middle, td { vertical-align: middle !important; }

.u-vertical-align-top { vertical-align: bottom !important; }

.w-640px { max-width: 640px !important; }

.w-100, .form__input, .table { width: 100%; }

.w-auto, .form__input[type="radio"] { width: auto; }
