// Variables

// To stay consistent, we set as many properties as variables as we can.
// We have five(???) options for margins and paddings and a something-point typographic scale.
// All colours should be defined in this file except #fff and #000.

// Look in utilities.scss for ways to use these same properties in html instead.

// Always use these variables when building components.

// Colours
$blue: #3675b4;
$light-blue: rgb(62,149,190);
$dark-blue: rgb(30,50,68);

$peach: rgb(241,102,107);
$dark-peach: darken($peach, 10%);
$light-peach: lighten($peach, 10%);

$red: #e74141;
$light-red: lighten($red, 10%);
$dark-red: darken($red, 10%);

$yellow: rgb(250,162,36);
$light-yellow: lighten($yellow, 10%);
$dark-yellow: darken($yellow, 10%);

$green: #2ecc71;
$light-green: lighten($green, 10%);
$dark-green: darken($green, 10%);

$light-grey: #999;
$lighter-grey: #d1d1d1;
$lightest-grey: #f7f7f7;

$dark-grey: #888;
$darker-grey: darken($dark-grey, 10%);
$darkest-grey: darken($dark-grey, 20%);

$black: #2F323B;

// Spacing
// Uses an 8pt vertical grid for margins and padding
// With 16px body copy, .5 increments ensure the grid is adhered to
$s-smaller: .5rem; // 8px
$s-small: 1.5rem; // 24px
$s: 2rem; // 32px
$s-large: 2.5rem; // 40px
$s-larger: 3rem; // 48px

// Typography
$body: 'Proxima Nova', sans-serif;
$heading: 'Ubuntu', sans-serif;

$t-h1: 2.5rem;
$t-larger: 2rem;
$t-large: 1.5rem;
$t-size: 1rem;
$t-small: .875rem; // legibility at small sizes > adhering to scales
$t-smaller: .75em;

$border-size: 3px;

// Animation Duration
$a-larger: 2s;
$a-large: 1.5s;
$a-size: 1s;
$a-small: .5s;
$a-smaller: .3s;

// Transition Duration
$tr-larger: .3s;
$tr-large: .2s;
$tr-size: .1s;
$tr-small: .07s;
$tr-smaller: .05s;
