// Variables

// To stay consistent, we set as many properties as variables as we can.
// We have five(???) options for margins and paddings and a something-point typographic scale.
// All colours should be defined in this file except #fff and #000.

// Look in utilities.scss for ways to use these same properties in html instead.

// Always use these variables when building components.

// Colours
$blue: #3675b4;
$light-blue: rgb(62,149,190);
$dark-blue: rgb(30,50,68);

$peach: rgb(241,102,107);
$dark-peach: darken($peach, 10%);
$light-peach: lighten($peach, 10%);

$red: #e74141;
$light-red: lighten($red, 10%);
$dark-red: darken($red, 10%);

$yellow: rgb(250,162,36);
$light-yellow: lighten($yellow, 10%);
$dark-yellow: darken($yellow, 10%);

$green: #2ecc71;
$light-green: lighten($green, 10%);
$dark-green: darken($green, 10%);

$light-grey: #999;
$lighter-grey: #d1d1d1;
$lightest-grey: #f7f7f7;

$dark-grey: #888;
$darker-grey: darken($dark-grey, 10%);
$darkest-grey: darken($dark-grey, 20%);

$black: #2F323B;
$white: #FFFFFF;

// Spacing
// Uses an 8pt vertical grid for margins and padding
// With 16px body copy, .5 increments ensure the grid is adhered to
$s-xs: .5rem; // 8px
$s-s: 1.5rem; // 24px
$s-m: 2rem; // 32px
$s-l: 2.5rem; // 40px
$s-xl: 3rem; // 48px

// Typography
$body: 'Proxima Nova', sans-serif;
$heading: 'Ubuntu', sans-serif;

$t-2xl: 2.5rem;
$t-xl: 2rem;
$t-l: 1.5rem;
$t-m: 1rem;
$t-s: .875rem; // legibility at small sizes > adhering to scales
$t-xs: .75em;

// Borders
$border-size: 1px;
$border-radius: 3px;
$border-radius-l: 5px;

// Animation Duration
$a-xl: 2s;
$a-l: 1.5s;
$a-m: 1s;
$a-s: .5s;
$a-xs: .3s;

// Transition Duration
$tr-xl: .3s;
$tr-l: .2s;
$tr-m: .1s;
$tr-s: .07s;
$tr-xs: .05s;
